<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   	  <!-- 
   	  return해서 html(jsp 등)로 가는방식이
      포워드방식이다
      redirect:해줘야지 포워드를 안한다.
      근데 index에서 넘겨준 id=test방식이 리퀘스트 파라미터 방식인데
      원래는 여기까지만 그 값이 유효가 되는데
      여기서 포워드 방식으로 넘어갔기때문에
      params.html에서도 index.html에서 넘겨준 파라미터값이 유지가돼서
      params.html에서도 그 값을 쓸 수 있다.
      springboot_forward 사진 확인 저 질문이 정확한 답이라고함 
      -->
	<h1 th:text="|Hello, ${param.id}|">Hello, parameter id</h1>
	<h2 th:text="|Hello, ${#httpServletRequest.getParameter('id')}|">Hello, parameter id</h2>
	<h2 th:text="|Hello, ${#request.getParameter('id')}|">Hello, parameter id</h2>
	
	<h3 th:text="|Hello, ${session.pw}|">Hello, session pw</h3>
	<h4 th:text="|Hello, ${session['pw']}|">Hello, session pw</h4>
	<h4 th:test="|Hello, ${#session.getAttribute('pw')}|">Hello, session pw</h4>
	
	<h5 th:text="|Hello, ${dto.subject}|">Hello, Subject</h5>
	<h6 th:text="|Hello, ${dto.seq}|">Hello, seq</h6>
	
	
	

</body>
</html>